:root {
  --blue-color: #3759a4;
  --light-blue-color: #7f9bcd;
  --white-color: white;
  --grey-color: #f0f0f0;
  --dark-grey-color: #4d4d4d;
  --silver-color: #c0c0c0;
  --border-radius: 5px;
  --font-weight-bold: bold;
  --font-size-rem: 1rem;
  --transition-speed: 0.8s;
}

* {
  font-family: Verdana, Arial, sans-serif;
  box-sizing: border-box;
}

[data-component="Component_Page"] {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
}

[data-component="Component_Header"],
[data-component="Component_Footer"] {
  background-color: transparent;
  position: fixed;
  height: 15vh;
  width: 100vw;
  pointer-events: none;
}

[data-component="Component_Header"] {
  top: 0;
  left: 0;
}

[data-component="Component_Footer"] {
  bottom: 0;
  left: 0;
}

[data-css="dashboard_page_container"] {
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

[data-component="Component_Dashboard"] {
  background-color: transparent;
  position: relative;
  flex-grow: 1;
  width: 95%;
  border-radius: var(--border-radius);
  overflow: hidden;
  user-select: none;
}

[data-component="Component_Dashboard_Header"] {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 40px;
  width: calc(100% - 40px);
  border-radius: var(--border-radius);
  margin: 20px;
  z-index: 2;
}

[data-component="Component_Dashboard_Header_Item"] {
  white-space: nowrap;
  background-color: transparent;
  padding: 4px;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

[data-component="Component_Dashboard_Header_Button"] {
  position: absolute;
  right: 10px;
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
}

[data-component="Component_Dashboard_Header_Button"] img {
  background-color: transparent;
  height: inherit;
  width: inherit;
}

[data-component="Component_Dashboard_Row_Container"] {
  background-color: transparent;
  height: calc(100% - 60px);
  overflow-y: auto;
  overflow-x: hidden;
  margin: 40px 0;
  padding: 26px;
  z-index: 1;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

[data-component="Component_Dashboard_Row_Container"]::-webkit-scrollbar {
  display: none;
}

[data-component="Component_Dashboard_Row"] {
  display: flex;
  flex-direction: row;
  border: 1px solid;
  border-radius: var(--border-radius);
}

[data-component="Component_Dashboard_Row_Item"] {
  white-space: nowrap;
  background-color: transparent;
  padding: 10px;
  overflow-y: hidden;
  overflow-x: auto;
  height: fit-content;
}

[data-component="Component_Dashboard_Row_Pseudo"] {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

[data-level="0Red"],
[data-level="1Orange"] {
  font-weight: bold;
  margin: 20px 0;
}

[data-component="Component_Dashboard_Row_Panel"] {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

[data-component="Component_Dashboard_Row_Panel_Content"] {
  margin: 20px;
}

[data-component="Component_Dashboard_Row_Panel"].expanded {
  height: 100px;
}
